
.jumbotron{
    background: rgb(194, 248, 225);
    font-size: large;
    margin: 80px;
}


.myIcons{
    height: 64px;
    width: 64px;
    margin:70px;
    display: flex;
    justify-content: space-around;
}

.growIcons{
    height: 100px;
    width: 100px;
}

.myPic{
    width: 300px;
    height: 400px;
    
}

.loadRepo {
    margin: 50px;
}

.fixed-bottom {
    background:rgb(36, 94, 81)
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.nameContainer {
    display: flex;
    justify-content: center;
}

.titleContainer {
    display: flex;
    justify-content: center;
}

.linksHeaderContainer {
    display: flex;
    justify-content: center;
}

.skillsHeaderContainer {
    display: flex;
    justify-content: center;
}

.icons {
    display: flex;
    justify-content: center;
}

.list {
    display: flex;
    justify-self: space-around;
}